@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<MonolithicMultimedia.Dtos.VideoDto>

@{
    ViewData["Title"] = "Video Email";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")" />
}

<form class="col-lg-6 offset-lg-3 ">
    <div class="row justify-content-center">
        <p>
            @using (Html.BeginForm("Videos", "Email", FormMethod.Get))
            {
                <input type="search" name="Email" placeholder="Enter user email ..." style="width:500px" />
                <input type="submit" value="Search" class="btn btn-primary" />
            }
        </p>
    </div>
</form>

<div class="row">
    @foreach (var video in Model)
    {
        <div class="list-wrapper">
            <div class="list-inner">
                <div class="center">
                    <video controls>
                        <source src="~/Video/GetVideo/@Html.DisplayFor(videoDto => video.Id)" type="video/mp4">
                    </video>
                    <hr />
                </div>
                <dl class="row">
                    <dd class="col-sm-12">
                        <h6> @Html.DisplayFor(videoDto => video.Title) </h6>
                    </dd>
                    <dd class="col-sm-9">
                        @Html.ActionLink("Details", "Details", "Video", new { id = video.Id }, new { @class = "btn btn-info" })
                    </dd>
                </dl>
            </div>
        </div>
    }
</div>
</br>
</br >
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager((IPagedList) Model, page => Url.Action("Video", new {page = page, email = ViewContext.HttpContext.Request.Query["email"]}),
        new X.PagedList.Web.Common.PagedListRenderOptions {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] { "page-link" }
        })
    </div>
</div>