@{
    ViewData["Title"] = "Unauthorized";
    var exception = ViewData["Exception"] as Exception;
}

<h2>Unauthorized Error</h2>

<hgroup class="title">

    <h2 class="error">@exception.Message</h2>

</hgroup>
