@{
    ViewData["Title"] = "InternalServerError";
    var exception = ViewData["Exception"] as Exception;
}

<h2>Internal Server Error</h2>

<hgroup class="title">

    <h2 class="error">@exception.Message</h2>

</hgroup>