@{
    ViewData["Title"] = "NotFound";
    var exception = ViewData["Exception"] as Exception;
}

<h2>Not Found Error</h2>

<hgroup class="title">

    <h2 class="error">@exception.Message</h2>

</hgroup>